*{
  box-sizing: border-box;
}

.PokedexTop{
  position: relative;
  text-align: center;
}

.header{
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-family: 'Pokemon Solid';
  color: yellow;
  font-size: 120px;
}

body{
  background-image: url('Blue Pokedex Background.jpg');
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.Cards{
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;

}

.FrontPagePokemon{
  display: inline-grid;
  grid-template-columns: repeat(4,25%) ;
  grid-template-rows: repeat(4,25%) ;
  grid-row-gap: 60px;
}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
