*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url(Pokemon_Solid.ttf);
}
@font-face {
  font-family: 'Pokemon Hollow';
  src: url(Pokemon_Hollow.ttf);
}

.PokedexTop > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.ThemeSong > audio{
  object-fit: cover;
  object-position: center;

}

.header{
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-family: 'Pokemon Solid';
  color: yellow;
  font-size: 120px;
}

div{
  display: block;
}

body {
  background-size: contain;
  background-image: url('SunandMoonPokedexBackground.png');
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.Cards{
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;

}

.FrontPagePokemonGrid {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  vertical-align: middle;
  padding: 30px;
}

.FrontPagePokemonGrid > .grid-item  img {
  width: 100%;
}

.PokeVersusGrid {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
    vertical-align: middle;
    width: 100vw;
    padding: 50px;
    background-color: #cc0000;
    border: solid 5px #b30000;
  }

  .PokeVersusGrid > .grid-item > img {
    width: 100%;
  }


h1{
  font-size: 20px;
  font-family: "Press Start 2P";
  text-align:center;
}

h2{
  padding-top: 100px;
  font-size: 30px;
  font-family: "Press Start 2P";
  text-align:center;
}

.Profiletop{
  background-color: #cc0000;
  border: solid 5px #b30000;
  width: 100%;
  height: 100px;
}

.Profileheader{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Pokemon Solid';
  color: yellow;
  font-size: 50px;
}

.Flashcards{
  padding-left: 20%;
  padding-right: 20%;
  display: grid;
  grid-template-columns: 200px 1fr;
  /*grid-template-rows: 200px 1fr;*/
  line-height: 24px;
  grid-row-gap: 30px;
  vertical-align: middle;
}

.grid-item{
  background-color: White;
  border: solid 5px #1a8cff;
  font-size: 14px;
  font-family: "Press Start 2P";
  text-align: justify;
  padding: 10px;
}

.Flashcards > .grid-item > img {
  width: 100%;
}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.Media {
  grid-column-end: span 2;

}
